@model Lab6.Models.ViewModels.ProductDetailViewModel
@{
    ViewBag.Title = "Details";
}
    <div>
        @Html.ActionLink("Back", "SearchPage")
    </div>
<br />

<h1>Stock Item</h1>
<dl class="dl-horizontal" style="background-color:antiquewhite; outline-color:black; text-align:center">
    <dt>
        Item Name
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ItemName)
    </dd>
    <dt>
        Unit Price
    </dt>
    <dd>
        @Html.DisplayFor(model => model.UnitPrice)
    </dd>
    <dt>
        Typical Weight per Unit
    </dt>
    <dd>
        @Html.DisplayFor(model => model.TypicalWeightPerUnit)
    </dd>
    <dt>
        Lead Time Days
    </dt>
    <dd>
        @Html.DisplayFor(model => model.LeadTimeDays)
    </dd>
    <dt>
        Valid From
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ValidFrom)
    </dd>
    <dt>
        Origin
    </dt>
    <dd>
        @Html.DisplayFor(model => model.CustomFields)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Tags)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Tags)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Size)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Size)
    </dd>
</dl>

<br />

<h1>Supplier Info</h1>
<dl class="dl-horizontal" style="background-color:antiquewhite; outline-color:black; text-align:center">
    <dt>
        @Html.DisplayNameFor(model => model.Company)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Company)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Phone)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Phone)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Fax)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Fax)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Website)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Website)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Contact)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Contact)
    </dd>
</dl>

<br />

<h2>Sales History Summary</h2>
<dl class="dl-horizontal" style="background-color:antiquewhite; outline-color:black; text-align:center">
    <dt>
        @Html.DisplayNameFor(model => model.Orders)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Orders)
    </dd>
    <dt>
        Gross Sales
    </dt>
    <dd>
        $@Html.DisplayFor(model => model.GrossSales)
    </dd>
    <dt>
        Gross Profit
    </dt>
    <dd>
        $@Html.DisplayFor(model => model.GrossProfit)
    </dd>
</dl>

<br />

<h2>Top Purchasers</h2>
<dl class="d1-horizontal" style="background-color:antiquewhite; outline-color:black; text-align:center">
    <dt>
    Top 10 Purchasers
</dt>
    @for (int i = 0; i < 10; i++)
    {
        
    <dd>
         @Html.DisplayFor(model => model.TopPurchasers[i]) :
         @Html.DisplayFor(model => model.TopPurchaserInt[i]) Purchased
    </dd>

    }

</dl>

<div>
    @Html.ActionLink("Back", "SearchPage")
</div>