@{ 
    ViewBag.Title = "Interporlator";
} 

    <link rel="stylesheet" href="HomepageStyles.css" />
    <h2>Inter</h2> 

    <div class="col-md-4">

        @using (Html.BeginForm("Interporlator", "Interporlator", FormMethod.Post))
        {
            <div class="form-group">
                @Html.Label("First Color: ")
                @Html.TextBox("FirstColor", null, new { @class = "form-control", type = "string" })
                @Html.Label("Second Color: ")
                @Html.TextBox("SecondColor", null, new { @class = "form-control", type = "string" })
                @Html.Label("Number of Colors: ")
                @Html.TextBox("Amount", null, new { @class = "form-control", type = "number" })
                <button type="submit" class="btn btn-primary">Generate!</button>
            </div>
            
            int i = 0;
            while (i < @ViewBag.Amount)
            {
                <br/>
                <div style="float: right; width:100px; height:10px; border:1px solid"></div>
                i++;
            }

        }

    </div>