@using CS460HW5.Models
@model Assignment

@{
    ViewBag.Title = "HWCreate";
}


<h2>HomeWork Creator</h2>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="http://localhost:54187/HWTracker/Index">Home</a></li>
                <li><a href="http://localhost:54187/HWTracker/HWCreate">Create</a></li>
            </ul>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{

    <div>
        <div class="row">
            <p>Create New HomeWork</p>
        </div>
        <div class="form-horizontal">
            <table style="width:80%">
                <tr>
                    @Html.LabelFor(model => model.PriorityOrder, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownListFor(model => model.PriorityOrder, Assignment.Priority)
                </tr>
                <tr>
                    <td class="form-group">
                        @Html.LabelFor(model => model.DueDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })

                    </td>
                    <td class="form-group">
                        @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })

                    </td>
                </tr>
                <tr>
                    <td class="form-group">
                        @Html.LabelFor(model => model.DueTime, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.DueTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DueTime, "", new { @class = "text-danger" })
                    </td>
                    <td class="form-group">
                        @Html.LabelFor(model => model.CourseID, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td class="form-group">
                        @Html.LabelFor(model => model.HomeworkTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.HomeworkTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HomeworkTitle, "", new { @class = "text-danger" })
                    </td>
                    <td class="form-group">
                        @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}