@using CS460HW5.Models
@model Assignment

@{
    ViewBag.Title = "HWCreate";
}


<h2>HomeWork Creator</h2>

@using (Html.BeginForm())
{

    <div>
        <div class="row">
            <p>Create New HomeWork</p>
        </div>
        <div class="form-horizontal">
            <table style="width:100%">
                @Html.DropDownListFor(model => model.PriorityOrder, Assignment.Priority)
                @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
                <tr>
                    <td class="form-group">
                        @Html.LabelFor(model => model.DueDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })

                    </td>
                    <td class="form-group">
                        @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })

                    </td>
                </tr>
                <tr>
                    <td class="form-group">
                        @Html.LabelFor(model => model.DueTime, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.DueTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DueTime, "", new { @class = "text-danger" })
                    </td>
                    <td class="form-group">
                        @Html.LabelFor(model => model.CourseID, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td class="form-group">
                        @Html.LabelFor(model => model.HomeworkTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.HomeworkTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HomeworkTitle, "", new { @class = "text-danger" })
                    </td>
                    <td class="form-group">
                        @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}